<div class="container">
  <div class="row">
    <div class="align-center">
      <p><%= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill %></p>
      <p>Cocktail Name : <%= @cocktail.name %></p>
      <p>Recipe:- <% @cocktail.doses.each do |dose| %></p>
      <p>Dose id <%= dose.id %></p>
      <p>Ingredient: <%= dose.ingredient.name %></p>
      <p>Description: <%= dose.description %></p>
      <p><%= link_to "delete dose", dose_path(dose), method: :delete %></p>
      <p>-----xxxx-----</p>
      <p><% end %></p>
      <p><%= link_to "delete cocktail", cocktail_path, method: :delete %></p>

    </div>
  </div>

  <div>
    <button class="btn btn-primary"><%= link_to "Add a dose", new_cocktail_dose_path(@cocktail) %></button>
  </div>
</div>

